/*Typefaces*/

.roboto {
  font-family: 'Roboto', sans-serif;
}
.roboto-thin {
  font-weight: 100;
  font-size: 20px;
}

.fatface {
  font-family: 'Abril Fatface', cursive;
}

/*Content Styling*/

.mainContainer {
  margin: 0 auto;
}
.link {
  list-style-type: none;
}
p.big {
  font-size: 35px;
  line-height: 60px;
}

p.medium {
  font-size: 25px;
}
.heavy {
  font-weight: bold;
}
.center {
  text-align: center;
}

.right {
  text-align: right;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
}

.first-character {
  float: left;
  color: #3b4752;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-family: 'Abril Fatface', cursive;
}

/** Navigation **/

.main-nav{
	background-color: #ffffff;
	color: #3b4752;
  font-size: 1.25em;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom-style: dashed;
  border-bottom-width: thin;
  border-bottom-color: #3b4752;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
a {
  color: #3b4752;
}
a:hover{
  color: #545456;
}
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: #ffffff;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #ffffff;
}
.dropdown-menu {
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid;
  border: 1px solid rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu > li > a {
  color: #3b4752;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:active {
  color: #3b4752;
  background-color: #ffffff;
}
.open{
  color: #ffffff;
  background-color: #3b4752;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #3b4752;
  background-color: #ffffff;
}

.mainToggle {
  position: relative;
  float: right;
  background-color: #ffffff;
  border-style: dashed;
  border-width: thin;
  border-color: #3b4752;
  background-image: none;
  border-radius: 4px;
}
.icon-bar{
	background-color: #3b4752;
}


/** Main Page **/

body {
  color: #3b4752;
}

.top-padding {
    padding-top: 120px;
}

.left-column {
  padding-top: 100px;
  height: 100%;
}


.right-column {
  padding: 100px;
}

.dashed {
  padding-bottom: 5px;
  border-top-color: #3b4752;
  border-top-style: dashed;
  border-top-width: thin;
}

/* Image Styling */

.icon-center {
  margin: 0 auto;
  float: none;
  padding: 10px;
  width: 75px;
  height: 75px;
}

.image-center {
  margin: 0 auto;
  float: none;
  padding: 60px;
  width: 45%;
  height: 45%;
}

.portfolio-center {
  margin: 0 auto;
  float: none;
  padding: 5px;
  border-style: dashed;
  border-width: thin;
  border-color: #3b4752;
}

.gridbox-border {
  border-right-style: dashed;
  border-right-color: #3b4752;
  border-right-width: thin;

}

.gridbox-plum {
  background-color: #690d50;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-width: thin;
}

.gridbox-coffee {
  background-color: #380d07;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-width: thin;
}

.gridbox-white {
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-color: #ffffff;
  border-width: thin;
}


/* Footer */

.main-footer {
  border-top-color: #3b4752;
  border-top-style: dashed;
  border-top-width: thin;
  padding-top: 100px;
  padding-bottom: 100px;
}
