/*Typefaces*/

.roboto {
  font-family: 'Roboto', sans-serif;
}
.roboto-thin {
  font-weight: 100;
}

.fatface {
  font-family: 'Abril Fatface', cursive;
}

/*Content Styling*/

#my-wrapper {
  width: 100%;
}

.mainContainer {
  margin: 0 auto;
}

p.big {
  font-size: 35px;
  line-height: 60px;
}

p.medium {
  font-size: 100%;
}

.center {
  text-align: center;
}

h1 {
  font-size: 60px;
}

.pink{
  color: #f21c52;
}

.plum {
  color: #690d50;
}


/** Navigation **/

.main-nav{
	background-color: #ffffff;
	color: #f21c52;
  font-size: 1.25em;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: #f21c52;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
a {
  color: #f21c52;
}
a:hover{
  color: #a6324d;
}
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: #ffffff;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #ffffff;
}
.dropdown-menu {
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid;
  border: 1px solid rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu > li > a {
  color: #f21c52;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:active {
  color: #690d50;
  background-color: #ffffff;
}
.open{
  color: #ffffff;
  background-color: #f21c52;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #690d50;
  background-color: #ffffff;
}

.mainToggle {
  position: relative;
  float: right;
  background-color: #ffffff;
  border-style: solid;
  border-width: thin;
  border-color: #f21c52;
  background-image: none;
  border-radius: 4px;
}
.icon-bar{
	background-color: #f21c52;
}


/** Main Page **/

.left-column {
  color: #f21c52;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;
}

.right-column {
  padding: 100px;
  border-left-style: solid;
  border-left-color: #f21c52;
  border-left-width: thin;
}

/* Portfolio Page */

.gridbox-pink {
  background-color: #f51c52;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-width: thin;
  height: 300px;
}

.gridbox-plum {
  background-color: #690d50;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-width: thin;
  height: 300px;
}

.gridbox-coffee {
  background-color: #380d07;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-width: thin;
  height: 300px;
}

.gridbox-white {
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
  border-color: #ffffff;
  border-width: thin;
  height: 300px;
}

/* Footer */

.main-footer {
  background-color: #ffffff;
  border-top-color: #f21c52;
  border-top-style: solid;
  border-top-width: thin;
  padding-top: 100px;
  padding-bottom: 100px;
}
