/*Typefaces*/

.roboto {
  font-family: 'Roboto', sans-serif;
}

.fatface {
  font-family: 'Abril Fatface', cursive;
}

/*Content Styling*/

#my-wrapper {
  width: 100%;
}

.mainContainer {
  margin: 0 auto;
}

p.big {
  line-height: 250%;
}

/** Navigation **/

.main-nav{
	background-color: #f21c52;
	color: #ffffff;
  font-size: 1.25em;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom-style: solid;
  border-bottom-width: thick;
  border-bottom-color: #a6324d;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
a {
  color: #ffffff;
}
a:hover{
  color: #ffffff;
}
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: #690d50;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #690d50;
}
.dropdown-menu {
  background-color: #690d50;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid;
  border: 1px solid rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu > li > a {
  color: #ffffff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:active {
  color: #ffffff;
  background-color: #f21c52;
}
.open{
  color: #ffffff;
  background-color: #f21c52;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  background-color: #f21c52;
}

.mainToggle {
  position: relative;
  float: right;
  background-color: #690d50;
  background-image: none;
  border-radius: 4px;
}
.icon-bar{
	background-color: #ffffff;
}


/** Main Page **/

.left-column {
  background-color: #690d50;
  color: #ffffff;
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;
}

.right-column {
  padding: 100px;
}

/* Footer */

.main-footer {
  background-color: #f21c52;
  border-top-color: #a6324d;
  border-top-style: solid;
  border-top-width: thick;
  padding-top: 100px;
  padding-bottom: 100px;
}
